@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans");
  src: url("../fonts/Ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans");
  src: url("../fonts/Ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans","Arial","sans-serif";
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background-color: white ;
}

.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

.site-page {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.site-menu {
  width: 400px;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  margin: 0 auto;
}

.clients-menu {
  max-width: 250px;
  margin-left: auto;
}

.site-menu-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.favorite-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
}

.button-base.button.favorite-all {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
}

.favorite-item-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  align-items: center;
}

.reason-list {
  text-align: center;
}

.choice {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px; /* как убрать подчёркивание кнопки?*/
}

.about {
  text-align: center;
}
.page-1 {
  display: block;
  margin: 0 auto;
}

.reasons-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


/*Жильё, Еда, Сувениры*/
.services-item {
  width: 250px;
}

.reason-content-one {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.reason {
  width: 250px;
}

.about-title.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* настоящий городок фон*/
.reasons-content {
  color: #FFFFFF;
  background-color: #83b3d3;
}

.reasons-title.item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
/* Жильё еда сувениры*/
.services-title.item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.about-description.section-description {
  font-size: 22px;
  line-height: 36px;
}

.interested-list.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}


.interested {
text-align: center;
}

.interested-title.section-tile {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.batton {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.subscribe-list.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.subscribe-newsletter.decoration {
  text-align: center;
}

.button-newsletter-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83b3d3;
  text-transform: uppercase;
}

.modal-window-wrapper {
font-weight: 700;
font-size: 18px;
line-height: 40px;
align-items: center;
}

.modal-window-tile {
  font-weight: 700;
  font-size: 30px;
}

.date-hint.date-hint-color {
  font-weight: 400;
  font-size: 16px;
  color: #FF5757;
  background-color: #FFFFFF;
}

.date-hint {
  font-weight: 400;
}

.search-button.button {
  font-weight: 700;
  width: 575px;
  height: 60px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #83b3d3;
  text-transform: uppercase;
}

.footer-decoration {
  text-align: center;
}

.phone-number {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000;
  background-color: #FFFFFF;
}

.main-catalog {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.inner-header {
  color: #FFFFFF;
  background-color:#333;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.button-choice {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #83b3d3;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000;
  text-decoration: none;
}

.product-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.product-card-price {
  font-weight: 400;
}

.product-card-button-detailed {
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
}

.product-card-button.button {
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83b3d3;
}

.product-card-button.button-green {
  font-weight: 700;color: #FFFFFF;
  background-color: #7DB54F;
}

.product-card-list2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #83b3d3;
  text-align: center;
  text-transform: uppercase;
}

.pagination-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #83b3d3;
  text-align: center;
  text-transform: uppercase;
}

.pagination-list-link-one {
  color: #000;
  background-color: #f2f2f2;
}

.footer-decoration {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.social {
  width: 240px;
}

.phone-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
}




/* Первая фоновая картинка*/
.welcome {
  color: #000;
  background-color:white ;
  background-image: url(../images/bg--welcome.jpg);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}



/* Вторая фоновая картинка*/
.subscribe-newsletter.decoration {
  color: #000;
  background-color:white ;
  background-image: url(../images/bg--subscription.jpg);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-newsletter {
  text-align: center;
  color: #000;
  background-color:white ;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

